<div class="about" id="about-me">
    <div class="carrer">
        <div class="container">
            <h2>I'm a <span class='bold-text'>Web Developer</span></h2>
            <h3>About me</h3>
            <p>My journey as a programming enthusiast began when I made a deliberate career
                transition. Eager to expand my knowledge and skills, I pursued a comprehensive technical
                course in Systems Analysis and Development, complemented by various online learning
                platforms such as Udemy, Scrimba, and Udacity.
                I have honed my expertise in the following key technologies: HTML5, CSS3, JavaScript,
                TypeScript, Angular, Java(Spring Boot), MongoDB, Python(FastAPI ), AWS Cloud, and
                Groovy. These tools form the foundation of my skill set and enable me to solve diverse IT
                challenges with confidence.
                By leveraging my proficiency in these technologies, I am equipped to contribute
                effectively to the success of an IT team, fostering innovation and delivering robust
                solutions. I am passionate about staying updated with the latest industry trends and
                technologies, and I am eager to apply my knowledge and enthusiasm to contribute to a
                dynamic organization in the IT field.</p>
            <a class='social-media linkedin' href="https://www.linkedin.com/in/camillaborges/" target="_blank">See my LinkedIn</a>
        </div>
    </div>
    <div class="projects">
        <div class="container">
            <h2>My most recent <span class='bold-text'>experience</span></h2>
            <h3>Intern</h3>
                <h4>Swisscom, Rotterdam</h4>
                <p>During my journey at Swisscom, I had the invaluable opportunity to collaborate
                with exceptional developers on a challenging project. 
                This experience proved to be immensely enriching as it exposed me to a diverse range of knowledge,
                including industry best practices, design patterns, and the art of engaging in
                thoughtful debates to propose innovative solutions for common challenges.
                Working at Swisscom provided me with a platform to bridge the gap between
                theoretical understanding and practical application, allowing me to transform
                abstract concepts into tangible solutions. Throughout the project, I successfully
                leveraged my skills and expertise, demonstrating proficiency in various cutting-edge technologies such as Java, TypeScript, Angular, Python, FastAPI, MongoDB,
                AWS, and more. Additionally, I gained valuable insights into the DevOps culture,
                actively contributing to architectural decisions and the provisioning of
                applications.
                With a strong focus on scalability in a B2C application environment, I faced
                complex challenges and implemented robust solutions. This experience further
                enhanced my ability to deliver efficient and effective results while adhering to
                industry standards.
                </p> 
            <a class='social-media github' href="https://github.com/camillaborges" target="_blank">See my GitHub</a>
        </div>
    </div>
</div>

