<div class="about" id="about">
    <div class="carrer">
        <div class="container">
            <h2>I'm a <span class='bold-text'>web developer</span></h2>
            <p>My journey as a programming student started in 2019 when I decided to shift my career. I took a technical course in 
            Systems Analysis and Development, apart from several courses like Udemy, Scrimba, and Udacity. 
            I'm currently looking for an opportunity to put in practice the technical knowledge that I've been
            studying where I can contribute and keep learning. My main stack is HTML5, CSS3, Javascript, Typescript, 
            Angular & React.
            </p>
            <a class='lkedin' href="https://www.linkedin.com/in/camillaborges/" target="_blank">See my LinkedIn</a>
        </div>
    </div>
    <div class="projects" id="experience">
        <div class="container">
            <h2>My most recent <span class='bold-text'>experience</span></h2>
            <article>
                <p>The practice has shown to me to be the key to consolidate my theoretical knowledge. 
                You can follow all my projects on <a class="git" href="https://github.com/camillaborges" target="_blank">GitHub.</a>
                Please, do not hesitate on sending me improvements, 
                suggestions, and questions.</p>
                <a class='btn' href="https://www.linkedin.com/in/camillaborges/" target="_blank">See my GitHub</a>
            </article>
        </div>
    </div>
</div>

