.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:white;
    padding: 0.5em 0;
    background-color:rgba(65, 56, 16, 0.774);
    align-items: center;
}

.item {
    font-size: 0.688rem;
    flex-grow: 1;
}

.item.email {
    text-align: right;
    margin-right: 1em;
}

.item.phone {
    max-width: 250px;
}

.item.linkedin {
    text-align: left;
    margin-left: 1em;
}

.fa {
    margin-right: 0.300em;
    font-size: 1.25rem;
}

a {
    color: white;
    text-decoration: none;
}

@media(max-width: 600px) {

    .contact {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .item {
        margin: 0.35em 0;
    }
}