.contact {
    background-color:rgb(48, 52, 90);
    color:white;
    display: flex;
    flex-direction: row;
    height: 2.125em;
}

.fa {
    margin: 0 0.350em 0 1.563em;
    font-size: 0.700rem;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
    margin-top: 0.525em;  
    font-size: 0.688rem;
}

@media(min-width: 750px) {
    .contact {
        background-color:rgb(48, 52, 90);
        color:white;
        display: flex;
        justify-content: center;
        height: 2.5em;
    }
    
    .fa {
        margin: 0 0.300em 0 1.563em;
        font-size: 1rem;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    li {
        list-style: none;
        margin: 0.625em 4.688em 0.625em 0;  
        font-size: 0.788rem;
    }

}


