@import url("https://fonts.googleapis.com/css2?family=Abel&family=Grape+Nuts&display=swap");
    
.topnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.1s linear;
}

.topnav-container {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  max-width: 1300px;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Grape Nuts', cursive;
  text-align: left;
  font-size: 1.5rem;
  margin-left: 1em;
  flex-grow: 1;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.nav-link li {
  list-style-type: none;
}

.nav-link li a {
  color: rgb(48, 52, 90);
  text-align: right;
  text-decoration: none;
  font-size: 1.263rem;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
  margin-left: 2em;
  cursor: pointer;
  position: relative;
}

.nav-link li a::after {
  position: absolute;
  content: '';
  background-color: #30345a;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.nav-link li a:hover::after{
  width: 100%;
}

.fa.burger-menu {
  display: none;
  color: rgb(48, 52, 90);
  font-size: 1.5rem;
  cursor: pointer;
}

.fa.burger-menu:hover {
  color: rgb(48, 52, 90);
}

.fixed {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background: white;
  box-shadow: 0 0 9px #7070706e;
}

@media(max-width:825px) {

  .topnav-container {
    min-height: 9vh;
  }

  .nav-link li a {
    margin-left: 1em;
    font-size: 1rem;
  }

  .logo {
    font-size: 1.3rem;
    margin-left: 0.75em;
  }
}

@media(max-width:600px) {

  .topnav-container {
    min-height: 8vh;
  }

  .nav-link {
    position: absolute;
    top: 0;
    background-color: #fff;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-100%);
    transition: 0.4s ease all;
    z-index: 9;
    box-shadow: 0px 5px 9px #70707017;
    opacity: 1;
    border-top: 1px solid #53577629;
  }
  
  .nav-link.opened {
    transform: translateY(8vh);
  }

  .fa.burger-menu {
    display: block;
    margin-right: 0.75em;
  }
}