<div class="topnav" id="menuToggle" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
    <div (click)="toClick()" class="toggle" id="toggle">
        <ul id="menu">
            <a (click)="toAbout()" class="about-camilla">About me</a>
            <a (click)="toExperience()">Experience</a>
            <a (click)="toProjects()">Projects</a>
            <a (click)="toContact()">Contact</a>
        </ul>
    </div>
        <a class="logo" href="app.component.html">C Borges</a>
</div>



