
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Grape+Nuts&display=swap");

body {
  margin: 0;
  min-height: 100vh;
}

.topnav a {
    color: rgb(48, 52, 90);
    text-align: center;
    padding: 0.158em;
    text-decoration: none;
    font-size: 1.263rem;
    font-weight: bold;
    margin-right: 3.5em;
    font-family: 'Abel', sans-serif;
    border-top: solid 2px white;
}
    
.topnav {
    text-align: center;
}

#menu {
  display: flex;
  float: right;
  padding-left: 0;
}

.topnav .logo {
  font-family: 'Grape Nuts', cursive;
  font-size: 1.5rem;
  float: left;
  background-color: white;
  padding: 0.3em;
  margin-left: 1.5em;
  margin-top: 0.525em;
  }
    
a {
    cursor: pointer;
}
    
#menu a:hover {
    border-top: solid 2px black;
}  

.fixed {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
  top: 0;
  padding-top: 0.2em;
}

.nofixed {
  position: static;
  transition: 0.1s linear;
}

@media(max-width:750px) {
  
    .topnav a {
        background-color: #fff; 
        font-size: 1rem;
        padding: 0.3em;
    }

    #menu {
      display: flex;
      justify-content: center;
      float: none;
      
    }

    #menu a {
      margin: 0 auto;
    }

    .fixed {
      position: fixed;
      width: 100%;
      height: 3.5em;
      background: white;
      z-index: 1;
      top: 0;
      padding-top: .063em;
    }

}

@media(max-width:950px) {

  .logo {
     visibility: hidden;
  }

}

@media(max-width:390px) {
  #menu {
    padding-left: 0;
    min-width: 21em;
    display: flex;
    justify-content: center;

  }
}

@media only screen and (max-width: 1075px) and (min-width: 750px) {
  .topnav {
    display: flex;
 }

 .topnav a {
   margin-right: .855em;   
   margin-left: 2em;;
 }

 .logo {
  margin-right: 5em;
 }
}




    
