<div class="portfolio" id="projects">
    <div class="container">
        <h2 class="down">SOME OF MY <span class="bold-text">PROJECTS</span></h2>
        <div class="work">
            <div class="portfolio-item">
                <img src="./assets/images/snake-game.gif" alt="snake game">
                <p>The best way to learn any programming language is through hands-on projects. The Snake Game is a game that I made using the basics of JavaScript and HTML.</p>
            </div>
            <div class="portfolio-item">
                <img src="./assets/images/countdown.gif" alt="countdown to the new year">
                <p>New Year Countdown is a study project to see the time remaining for the new year.</p>
            </div>
            <div class="portfolio-item">
                <img src="./assets/images/calculator.gif" alt="basic calculator">
                <p>The focus of this project is the JavaScript that I need to write, how to think about building the calculator, how to save the results history, how to write the code, and eventually, how to clean up the code.</p>
            </div>
        </div>
    </div>
</div>
