<div class="portfolio" id="projects">
    <div class="container">
        <h2 class="down">SOME OF MY <span class="bold-text">PROJECTS</span></h2>
        <div class="git-hub">
            <p>You can follow all my projects on <a class="git" href="https://github.com/camillaborges" target="_blank">GitHub.</a>
                Please, do not hesitate on sending me improvements, 
                suggestions, and questions.</p>
        </div>
        <div class="work">
            <div class="portfolio-item">
                <a href="https://github.com/camillaborges/countdown" target="_blank">
                    <img src="assets/images/countdown.gif" alt="Countdown to the new year">
                </a>
                <p>New Year Countdown is a study project to exercise working with date objects. Counting down the time remaining for the new year.</p>
            </div>
            <div class="portfolio-item">
                <a href="https://github.com/camillaborges/calculator" target="_blank">
                    <img src="assets/images/calculator.gif" alt="Basic calculator">
                </a>
                <p>The focus of this project is to exercise logical thinking, about how to build the calculator, and keep the results history. It was a great chance of applying the best practices.</p>
            </div>
            <div class="portfolio-item">
                <a href="https://github.com/camillaborges/snakeGame" target="_blank">
                    <img src="assets/images/snake-game.gif" alt="Snake game">
                </a>
                <p>The best way to learn any programming language is through hands-on projects. The Snake Game is a game that I made using the basics of JavaScript, CSS3 and HTML5.</p>
            </div>
        </div>
    </div>
</div>


