
.about-me {
    width: 100%;
    display: inline-block;
    justify-content: center;

}

.introduction {
    position: relative;
    align-items: center;
    font-size: 3rem;
}

img {
    max-width: 50%;
    height: auto;
    margin: 0.625 0 0.3em 0;
    align-items: center;
    border: solid rgb(173, 170, 170) 2px;
    border-radius: 60%;
}

h3 {
    margin-right: 0.725em;
    margin-top:0;
    font-size: 3rem;
    animation-name: example;
    animation-duration: 3s;
    position:relative;
}

h1 {
    font-family: 'Kalam', cursive;
}


@keyframes example {
    10%  {opacity: 0; top:50px; bottom:0px; left: 50px}
    100% {bottom:0px; top:0px; left: 0px}
  }

.profile-picture {
    margin: 10px;
    width: 100%;
}

@media(min-width: 750px) {
    
.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.introduction {
    position: relative;
    align-items: center;
    margin-right: 50px;
    margin-left: 5px; 
    font-size: 4rem;
    top: 75px;
}

img {
    max-width: 100%;
    height: auto;   
    margin-right: 10px;
    margin-left: 20px;
    border: solid rgb(173, 170, 170) 2px;
    border-radius: 50%;
}

h3 {
    margin-right: 40px;
    margin-top:0;
    font-size: 3rem;
    color: rgb(48, 52, 90);
    animation-name: example;
    animation-duration: 4s;
    position:relative;
}

@keyframes example {
    10%  {opacity: 0; left:250px; top:0px;}
    100% {left:0px; top:0px;}
  }



.profile-picture {
    margin-top: 10px;
    width:22%;
}

}
@media only screen and (max-width: 1075px) and (min-width: 750px) {
    .introduction {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 1100px;
    margin-top: 1px;
    }

    .about-me {
        padding: 0;
    }

    .profile-picture {
        min-width: 30%;
        margin-right: 2.5em;
        margin-top: 4em;
    }
}