@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    min-height: 400px;
}

.introduction {
    max-width: 400px;
}

.introduction h1 {
    font-size: 2.5rem;
    font-family: 'Kalam', cursive;
    margin-bottom: 0;
}

.introduction h3 {
    font-size: 3rem;
    animation-name: slider-opacity-animation;
    animation-duration: 3s;
    margin-top: 0;
}

.profile .picture {
    width: 280px;
    border-radius: 50%;
    align-items: center;
    border: solid rgb(173, 170, 170) 2px;
}

@keyframes slider-opacity-animation {
    10%  {opacity: 0; left:250px; top:0px;}
    100% {left:0px; top:0px;}
}

@media(max-width: 825px) {

    .about-me {
        min-height: 350px;
    }

    .introduction {
        max-width: 300px;
    }
    
    .introduction h1 {
        font-size: 2rem;
    }
    
    .introduction h3 {
        font-size: 2.5rem;
    }

    .profile .picture {
        width: 250px;
    }
}

@media(max-width: 700px) {

    .introduction {
        max-width: 250px;
    }
    
    .introduction h1 {
        font-size: 1.5rem;
    }
    
    .introduction h3 {
        font-size: 2rem;
    }

    .profile .picture {
        width: 200px;
    }
}

@media(max-width: 600px) {
    .about-me {
        flex-direction: column;
    }

    .introduction {
        max-width: 300px;
    }
    
    .introduction h1 {
        font-size: 2rem;
    }
    
    .introduction h3 {
        font-size: 2.3rem;
    }

    .profile .picture {
        width: 250px;
    }
}